<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devoured}} <i class="fas fa-utensils"></i> EAT AGAIN!{{else}} <i class="fas fa-utensils"></i> EAT NOW!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i> DELETE! </button>
</li>
