<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devoured}}EAT AGAIN!{{else}}EAT NOW!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
